@media screen and (min-width: 992px) {
  .collapse:not(.show) {
    display: block !important;
  }

  .header ~ main,
  .header ~ footer {
    margin-left: 300px;
  }
}

@media screen and (max-width: 1599px) {
  /* font css start */
  h1,
  .h1 {
    font-size: 55px;
  }

  h2,
  .h2 {
    font-size: 30px;
  }

  h3,
  .h3 {
    font-size: 28px;
  }

  h4,
  .h4 {
    font-size: 26px;
  }

  h5,
  .h5 {
    font-size: 24px;
  }

  h6,
  .h6 {
    font-size: 18px;
  }

  p,
  .p {
    font-size: 16px;
    font-weight: 400;
  }

  /* font css end */
  .p-b-120 {
    padding-bottom: 60px;
  }

  .p-t-120 {
    padding-top: 60px;
  }
}

@media screen and (max-width: 1399px) {
  /* font css start */
  h1,
  .h1 {
    font-size: 50px;
  }

  h2,
  .h2 {
    font-size: 30px;
  }

  h3,
  .h3 {
    font-size: 28px;
    line-height: 19px;
  }

  h4,
  .h4 {
    font-size: 26px;
  }

  h5,
  .h5 {
    font-size: 24px;
  }

  h6,
  .h6 {
    font-size: 18px;
  }

  p,
  .p {
    font-size: 16px;
    font-weight: 400;
  }

  /* font css end */
  .query-img {
    width: 140px;
    height: 250px;
  }
}

@media screen and (max-width: 1299px) {
  /*   padding css start */
  .p-t-120 {
    padding-top: 50px;
  }

  .p-b-120 {
    padding-bottom: 50px;
  }

  .p-t-60 {
    padding-top: 40px;
  }

  .p-b-60 {
    padding-bottom: 40px;
  }

  /* padding css end */

  /* font css start */
  h1,
  .h1 {
    font-size: 45px;
  }

  h2,
  .h2 {
    font-size: 28px;
  }

  h3,
  .h3 {
    font-size: 26px;
  }

  h4,
  .h4 {
    font-size: 24px;
  }

  h5,
  .h5 {
    font-size: 22px;
  }

  h6,
  .h6 {
    font-size: 18px;
  }

  p,
  .p {
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
  }

  /* font css end */
}

@media screen and (max-width: 1199px) {
  /* padding css start */
  .p-t-120 {
    padding-top: 60px;
  }

  .p-b-120 {
    padding-bottom: 60px;
  }

  .p-t-60 {
    padding-top: 40px;
  }

  .p-b-60 {
    padding-bottom: 40px;
  }

  /* padding css end */
  .btn {
    padding: 10px 36px;
  }

  /* font css start */
  h1,
  .h1 {
    font-size: 40px;
  }

  h2,
  .h2 {
    font-size: 28px;
  }

  h3,
  .h3 {
    font-size: 26px;
  }

  h4,
  .h4 {
    font-size: 24px;
  }

  h5,
  .h5 {
    font-size: 22px;
  }

  h6,
  .h6 {
    font-size: 18px;
  }

  p,
  .p {
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
  }

  /* font css end */
  .about-section .about-counting .icon {
    font-size: 30px;
  }

  .about-section .about-counting h6 {
    font-size: 38px;
  }
}

@media screen and (max-width: 991px) {
  .navbar-toggler:focus {
    box-shadow: none;
  }

  .navbar-toggler[aria-expanded="false"] .bi-x {
    display: none;
  }

  .navbar-toggler[aria-expanded="true"] .bi-list {
    display: none;
  }

  .header .btn {
    padding: 10px 25px;
  }

  .btn {
    padding: 10px 30px;
  }

  /* padding css start */
  .p-t-120 {
    padding-top: 50px;
  }

  .p-b-120 {
    padding-bottom: 50px;
  }

  .p-t-60 {
    padding-top: 30px;
  }

  .p-b-60 {
    padding-bottom: 30px;
  }

  /* padding css end */

  /* font css start */
  h1,
  .h1 {
    font-size: 32px;
  }

  h2,
  .h2 {
    font-size: 28px;
  }

  h3,
  .h3 {
    font-size: 26px;
  }

  h4,
  .h4 {
    font-size: 24px;
  }

  h5,
  .h5 {
    font-size: 22px;
    line-height: 28px;
  }

  h6,
  .h6 {
    font-size: 18px;
  }

  p,
  .p {
    font-size: 16px;
    font-weight: 400;
  }

  /* font css end */
  .hero-banner-img-box img {
    height: 540px;
  }

  .hero-banner-content .btn {
    padding: 17px 32px;
  }

  .about-section .about-counting .icon {
    font-size: 28px;
  }

  .about-section .about-counting h6 {
    font-size: 32px;
  }
}

@media screen and (max-width: 767px) {
  .header .btn {
    padding: 10px;
  }

  .btn {
    padding: 10px;
    font-size: 14px;
  }

  /* padding css start */
  .p-t-120 {
    padding-top: 30px;
  }

  .p-b-120 {
    padding-bottom: 30px;
  }

  .p-t-60 {
    padding-top: 25px;
  }

  .p-b-60 {
    padding-bottom: 25px;
  }

  /* padding css end */

  /* font css start */
  h1,
  .h1 {
    font-size: 30px;
  }

  h2,
  .h2 {
    font-size: 28px;
  }

  h3,
  .h3 {
    font-size: 26px;
    line-height: 50%;
  }

  h4,
  .h4 {
    font-size: 24px;
  }

  h5,
  .h5 {
    font-size: 22px;
    line-height: 20px;
  }

  h6,
  .h6 {
    font-size: 18px;
  }

  p,
  .p {
    font-size: 16px;
    font-weight: 400;
  }

  /* font css end */
  .navbar-toggler {
    padding: 4px;
  }

  .hero-banner {
    padding-top: 100px;
  }

  .hero-banner-content {
    margin-bottom: 20px;
  }

  .hero-banner-content .btn {
    padding: 12px 24px;
  }

  .hero-banner-content .inputMainBox {
    height: 49px;
  }

  .hero-banner-img-box img {
    height: auto;
  }

  .service-section .service-main-box {
    margin-bottom: 20px;
  }

  .contact-section .col-md-6 .contact-box {
    height: auto !important;
  }

  .swiper-button-prev,
  .swiper-button-next {
    padding: 20px;
    border-radius: 50%;
  }
}

@media screen and (max-width: 499px) {
  .swiper {
    padding-left: 40px;
    padding-right: 40px;
  }
}
